:root {
    --rt-primary-color: #034833;
    --rt-secondary-color: #83CD20;
    --rt-secondary-color-50: #f1f5eb;
    --rt-heading-color: #034833;
    --rt-paragraph-color: #727272;
    --rt-theme-nblue: #001C52;
    --rt-common-black: #0A0E19;
    --rt-black: black;
    --rt-white: white;
    --rt-rom-color: #fbf6ef;
    --rt-grey-color: #f6f6f6;
    --rt-grey-color-2: #f6f6f6;
    --rt-grey-color-3: #f6f6f6;
    --rt-grey-color-4: #f6f6f6;
}