@use "../../utils" as *;

.rt-header {
  &-logo {
    padding-left: 24px;
  }
  &-main-menu {
    & li {
      display: inline-block;
      margin-right: 26px;
      position: relative;
      &:hover {
        & > a {
          color: var(--rt-secondary-color);
        }
        & i {
          transform: rotate(180deg);
          color: var(--rt-secondary-color);
        }
        & .rt-header-sub-menu {
          opacity: 1;
          visibility: visible;
          top: 100%;
        }
      }
      & a {
        font-weight: 700;
        font-size: 15px;
        line-height: 173%;
        padding: 47px 0px;
        display: block;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: var(--rt-heading-color);
        @include d-transition;
        & i {
          font-size: 12px;
          @include d-transition;
        }
      }
    }
  }
  &-sub-menu {
    width: 300px;
    background: #ffffff;
    position: absolute;
    padding: 20px 0px;
    top: 105%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    @include d-transition;
    z-index: 999;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    & li {
      display: block;
      width: 100%;
      &:hover {
        & a {
          &::before {
            display: block;
            width: 14px;
          }
        }
      }
      & a {
        font-weight: 700;
        font-size: 15px;
        line-height: 173%;
        padding: 5px 20px;
        display: block;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: var(--rt-heading-color);
        display: inline-flex;
        width: 100%;
        align-items: center;
        align-content: center;
        &::before {
          content: "";
          width: 0px;
          height: 2px;
          background: var(--rt-secondary-color);
          margin-right: 3px;
          margin-top: 3px;
          transition: all 0.3s ease-in-out;
        }
        & i {
          font-size: 12px;
        }
      }
    }
  }
  &-icon-text {
    padding-right: 95px;
    white-space: nowrap;
    & h5 {
      & a {
        @include d-transition;
        &:hover {
          color: var(--rt-secondary-color);
        }
      }
    }
  }
}

.headersticky{
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  transition: all .4s ease-in-out;
  & .col-xl-2, & .col-xl-10 {
    margin: 0;
  }
}