@use "../utils" as *;

.rt__btn {
  &-secondary {
    white-space: nowrap;
    background: var(--rt-secondary-color);
    border-radius: 150px;
    padding: 20px 30px;
    color: #fff;
    width: auto;
    
    &:hover{
      background-color: var(--rt-primary-color);
      color: #fff;
      @include d-transition;
    }
    & i {
      margin-left: 10px;
      font-weight: 500;
    }
  }
  &-transparent {
    white-space: nowrap;
    background: transparent;
    border: 1px solid var(--rt-secondary-color);
    border-radius: 150px;
    padding: 16px 30px;
    color: var(--rt-primary-color);
    width: auto;
    & i {
      margin-left: 10px;
      font-weight: 500;
    }
  }
}

.slider-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  & i {
    color: var(--rt-primary-color);
  }
}
