@use "../utils" as *;

.rt__btn {
  &-secondary {
    white-space: nowrap;
    background: var(--rt-secondary-color);
    border-radius: 150px;
    padding: 18px 26px;
    color: #fff;
    width: auto;
    
    &:hover{
      background-color: var(--rt-primary-color);
      color: #fff;
      @include d-transition;
    }
    & i {
      margin-left: 10px;
      font-weight: 500;
    }
  }
  &-hero {
    width: 156px;
    height: 60px;
    border-radius: 50px;
    background-color: var(--rt-secondary-color);
    position: relative;
    overflow: hidden;
    &:hover{
      &::before{
        content: "";
        width: 100%;
      }
      & span {
        color: var(--rt-primary-color);
      }

    }
    & span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      white-space: nowrap;
      color: #fff;
      font-weight: 500;
      font-size: 14px;
    }
    &::before{
      content: "";
      width: 0%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      @include d-transition;
    }
    
   
    & i {
      margin-left: 10px;
      font-weight: 500;
    }
  }
  // --------------------------------------
  &-transparent {
    white-space: nowrap;
    background: transparent;
    border: 1px solid var(--rt-secondary-color);
    border-radius: 150px;
    padding: 16px 20px;
    color: var(--rt-primary-color);
    width: auto;
    &:hover{
      background-color: var(--rt-secondary-color);
      color: #fff;
      @include d-transition;
    }
    & i {
      margin-left: 10px;
      font-weight: 500;
    }
  }
}

.slider-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: #fff;
  @include d-transition;
  &:hover{
    background-color: var(--rt-secondary-color);
    color: #fff;
    border: none;
    & i {
      color: #fff;
    }
  }
  & i {
    color: var(--rt-primary-color);
  }
}
