@use "../../utils" as *;

.rt-blog {
  &-card-wrapper {
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    border: 1px solid #fff;
    @include d-transition;
    &:hover {
      border: 1px solid var(--rt-secondary-color);
    }
    & br {
      @media #{$xl,$lg,$md,$xs} {
        display: none;
      }
    }
  }
  &-card-text {
    @media #{$lg,$xs} {
      padding: 18px;
    }
  }
  &-card-sm-text {
    & p,
    & i {
      color: var(--rt-primary-color);
      @media #{$lg} {
        font-size: 14px;
      }
    }
  }
  &-card-img {
    & span {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 20px;
      // overflow: hidden;
      perspective: 1000px; /* Adds 3D perspective */
      & img {
        border-radius: 20px;
        max-width: 100%;
        display: block;
      }
    }
  }
  &-next-btn,
  &-prev-btn {
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    @include d-transition;
    &:hover{
      background-color: var(--rt-secondary-color);
      color: #fff;
      border: none;
      & i {
        color: #fff;
      }
    }
    & i {
      color: var(--rt-primary-color);
      font-size: 16px;
    }
  }
  &-next-btn {
    top: 13%;
    right: 84px;
    @media #{$xl} {
      top: 12%;
      right: 110px;
    }
    @media #{$lg} {
      top: 13%;
      right: 120px;
    }
    @media #{$xs} {
      top: 17%;
      right: 126px;
    }
  }
  &-prev-btn {
    top: 13%;
    right: 0;
    @media #{$xl} {
      top: 12%;
      right: 25px;
    }
    @media #{$lg} {
      top: 13%;
      right: 38px;
    }
    @media #{$xs} {
      top: 17%;
      right: 40px;
    }
  }
  &-card-heading-text {
    & h4 {
      // font-size: 24px;
      @media #{$lg,$md,$xs} {
        font-size: 18px;
      }
    }
    & p {
      @media #{$lg} {
        font-size: 14px;
      }
    }
  }
  &-slider {
    & a {
      & img {
        width: 100%;
        height: 422px;
      }
    }
    &-icon {
      top: 30px;
      right: 30px;
    }
    &-content {
      @media #{$lg,$xs} {
        margin-right: 18px;
        margin-left: 18px;
      }
      & .rt__section-title{
        @media #{$xs} {
          margin-bottom: 100px;
        }
      }
    }
  }
}
