@use "../../utils" as *;

.rt-branding-slider {
  & .swiper-wrapper {
    transition-timing-function: linear;
    & .swiper-slide {
      width: auto;
      padding: 0px 78px;
      @media #{$sm,$xs} {
        width: auto;
      padding: 0px 58px;
      }
    }
  }
}
.rt-branding-slider {
  width: 100%;
  overflow: hidden;
}
.rt-branding-area {
  margin-bottom: 112px;
  @media #{$sm,$xs} {
    margin-bottom: 80px;
  }
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
  width: auto;
}
