@use "../../utils" as *;

.rt__contactForm {
  &-img {
    & span {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 20px;
      // overflow: hidden;
      perspective: 1000px; /* Adds 3D perspective */
      & img {
        max-width: 100%;
        display: block;
      }
    }
  }
  &-form-wrapper {
    @media #{$xs} {
     padding: 20px;
    }
    & label {
      color: var(--rt-primary-color);
    }
    & input {
      &:-webkit-autofill {
        background-color: white !important; 
        box-shadow: 0 0 0px 1000px white inset !important;
      }
      background-color: #fff ;
      &::placeholder {
        color: var(--rt-primary-color);
        background-color: transparent;
      }
      &:focus {
        outline: none;
        box-shadow: none;
        border: none;
        background-color: #fff ;
        &::placeholder {
          opacity: 0;
        }
      }
    }
    & textarea {
      background-color: transparent;
      &::placeholder {
        color: var(--rt-primary-color);
        background-color: transparent;
      }
      &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid rgb(224, 224, 224);
        &::placeholder {
          opacity: 0;
        }
      }
    }
  }
  &-col-wrapper-1{
    display: grid;
    place-items: center;
    margin-bottom: 50px;
  }
}

.text-area-icon {
  right: 20px;
  top: 50px;
}
