@use "../../utils" as *;

.rt__cta {
  &-play-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    & span {
      & img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    & a {
      width: 114px;
      height: 114px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      background-color: var(--rt-secondary-color);
      position: absolute;
      z-index: 99;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: rt__cta-play-btn 1s infinite ease-in-out;
      animation-direction: alternate;
      @media #{$xl} {
        width: 86px;
        height: 86px;
      }
      @media #{$xs} {
        width: 86px;
        height: 86px;
      }
    }
  }
  &-counter-card {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 58px 30px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    @media #{$xl} {
      padding: 36px 18px;
    }
    @media #{$lg,$sm} {
      display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    }
    & .span-icon {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      background-color: var(--rt-secondary-color);
    }
  }
}

@keyframes rt__cta-play-btn {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}


/* popup video screen big size  */
.mfp-iframe-holder .mfp-content {
  max-width: 80%;
  max-height: 80%; 
}

.mfp-iframe {
  width: 100%;
  height: 100%;
}
/* popup video screen big size  */
