@use "../../utils/" as *;

.rt__hero {
  &-slider {
    & .swiper-wrapper {
      & .swiper-slide {
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        cursor: grab;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 2.5s ease-in-out;
          transform: scale(1);
        }
        &-active img {
          transform: scale(1.3);
        }
      }
    }
  }
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-text {
    padding-top: 230px;
    padding-bottom: 200px;
    @media #{$md} {
      padding-top: 130px;
      padding-bottom: 100px;
    }
    @media #{$sm,$xs} {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    & h1 {
      font-size: 80px;
      text-transform: capitalize;
      text-align: center;
      color: #fff;
      animation: textanimation 1s ease-in-out;
      animation-delay: 1.2s;
      @media #{$lg} {
        font-size: 70px;
      }
      @media #{$md} {
        font-size: 60px;
      }
      @media #{$sm,$xs} {
        font-size: 45px;
      }
      
      & br {
        @media #{$xl,$lg,$md,$sm,$xs} {
          display: none;
        }
      }

      & span {
        color: var(--rt-secondary-color);
      }
    }
    & p {
      font-size: 16px;
      text-align: center;
      color: #fff;
      padding-top: 20px;
      animation: textanimation 1s ease-in-out;
      animation-delay: 1.3s;
      & br {
        @media #{$xs} {
          display: none;
        }
      }
    }
    & button {
      animation: textanimation 1s ease-in-out;
      animation-delay: 1.4s;
    }
  }
}

@keyframes textanimation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
