@use "../../utils" as *;

.rt-tabs {
  &-area {
    @media #{$xl,$lg,$md} {
      margin-left: 30px;
      margin-right: 30px;
    }
    @media #{$xs} {
      margin-left: 15px;
      margin-right: 15px;
      border-radius: 30px;
    }

  }
  &-btn-content {
    &:hover {
      & span {
        & img {
          animation: hoverimg3 0.3s ease-in-out;
        }
      }
    }
    @media #{$xs} {
      padding: 16px;
    }
    & h4 {
      font-size: 22px;
      & a {
        @include d-transition;
        &:hover {
          color: var(--rt-secondary-color);
        }
      }
    }
  }
  &-img {
    width: 100%;
    height: 100%;
    display: block;
    &-wrapper {
      & span {
        & img {
          width: 90%;
          @media #{$xl,$sm,$xs} {
            width: 100%;
          }
        }
      }
    }
    &-content {
      width: 100%;
      height: 100%;
    }
    &-icon {
      left: 30%;
      bottom: 30px;
      @media #{$md} {
        padding: 4px;
        left: 14%;
        bottom: 20px;
      }
      @media #{$xs} {
        left: 23%;
        bottom: 20px;
      }
      @media #{$sm} {
        left: 36%;
        bottom: 20px;
      }
      & a {
        margin: 0px 10px;
      }
    }
  }
  &-btn-content {
    @media #{$lg} {
      padding: 12px;
    }
    @media #{$md} {
      padding: 20px;
    }
  }
  &-customize {
    @media #{$xs} {
      flex-wrap: wrap;
      width: 100%;
     }
    & span {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: var(--rt-secondary-color);
      display: grid;
      place-items: center;
     
    }
  }
}

@keyframes hoverimg3 {
  0% {
    margin-left: -8px;
    margin-top: -8px;
  }
  20% {
    margin-left: 0px;
    margin-top: 0px;
  }
  40% {
    margin-left: -8px;
    margin-top: -8px;
  }
  60% {
    margin-left: 0px;
    margin-top: 0px;
  }
  80% {
    margin-left: -8px;
    margin-top: -8px;
  }
  100% {
    margin-left: 0px;
    margin-top: 0px;
  }
}
