@use "../../utils" as *;

.rt__trip {
    &-area{
        margin-top: -200px;
    }
  &-wrapper {
    z-index: 2;
  }
  &-img {
    margin-top: -50px;
  }
  &-shape {
    top: 15%;
    left: 30%;
    z-index: -1;
  }
}
