@forward 'hero';
@forward 'about';
@forward 'discount';
@forward 'contact';
@forward 'cta';
@forward 'fact';
@forward 'portfolio';
@forward 'services';
@forward 'team';
@forward 'testimonial';
@forward 'branding';
@forward 'category';
@forward 'overview';
@forward 'tabs';
@forward 'contact-form';
@forward 'trip';
@forward 'blog';